# Dependências do projeto
node_modules/

# Arquivos e pastas geradas automaticamente no build
.next/
build/
dist/
out/

# Variáveis de ambiente e configurações locais (não envie para o Git!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos de log e erros
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Configurações de editores e IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Arquivos temporários
*.tmp
*.temp
